<h1>{{hike.name}}</h1>
<div class="row">
  <div class="col-sm-7">
    <img class="hike-detail-image" src={{hike.image}}>
    <br>
    <button class="favorite-button waves-effect waves-light btn" {{action 'addToFaves' hike}}>Favorite <span class="glyphicon glyphicon-heart"></span></button>
  </div>

  <div class="col-sm-5">
    <h2>{{hike.location}}</h2>
    <h4>{{hike.description}}</h4>
  </div>
</div>

<div class="row">
  <h5>Ratings:</h5>
  {{#each hike.ratings as |rating|}}
    {{rating-tile rating=rating}}
  {{/each}}
</div>

{{new-rating saveRating="saveRating" hike=hike}}
